* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
overflow-x: hidden;
}

@media (max-width:600px){

    .header{
        width: 100vw;
        height: 150vh;
    }

    nav{
        padding: 0px 5px;
    }
    .nav-center{
        display: none;
    }

    .nav-right{
        width: 30vw;
        height: 10vh;
        font-size: 1.3vw;
    }

    .nav-right-h1{
        font-size: 7vw;
    }

    .nav-butt{
        width: 40vw;
        font-weight: 100;
    }

    .header-h1-1{
        height: fit-content;
        font-size: 14vw;
        margin-top: 5%; 
    }

    .header-h1-2{
        height: fit-content;
        font-size: 14vw;
    }

    .header-last{
        width: 100vw;
        height: 110vh;
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .last-first{
        width: 90vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .last-first-1{
        width: 50vw;
        height: 13vh;
    }
    .last-first-2{
        width: 60vw;
        height: 14vh;
    }

    .last-first-1-h4,.last-first-2-h4{
        font-size: 7vw;
        color: white;
        /* padding-top: 10px; */
    }
    
    .last-first-2-p,.last-first-1-p{
        font-weight: 100;
        color: rgb(186, 183, 183);
    }

    .last-img{
        width: 80vw;
        height: 50vh;
    }
    
    .last-second{
        width: 90vw;
        height: 30vh;
        /* background-color: red; */
        align-items: center;
        /* padding-left: 10%; */
    }
    
    .last-second-p{
        width: 80vw;
        font-size: 5vw;
        line-height: 150%;
        color:rgb(186, 183, 183);
        text-align: center;
    }
    .last-second-butt{
        width: 35vw;
        height: 5vh;
        border-radius: 35px;
        font-weight: 600;
        border: none;
    }

    .header-last-nav{
        width: 200vw;
        overflow-x: hidden;
    }

    .last-nav-h2{
        color: white;
        font-weight: 200;
        font-size: 5vw;
        display: inline-block;
        
    }

    .ri-shining-fill{
        font-size: 2.5vw;
    }

    .main{
        width: 100vw;
        height: 120vh;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
    .main-heading{
        align-items: end;
        font-size: 14vw;
        height: 15vh;
    }

    .main-content{
        flex-direction: column;
    }

    .main-content1{
        width: 90vw;
        height: 60vh;
        /* background-color: green; */
        align-items: center;
    }
    
    .main-h2{
        font-size: 9vw;
        color: white;
        /* background-color: red; */
    }

    .main-p{
        width: 90vw;
        font-size: 4.5vw;
        text-align: center;
    }

    .ri-checkbox-circle-fill{
        color: orange;
    }

    .main-h5{
        font-size: 5vw;
    }

    .main-butt{
        width: 40vw;
    }

    .main-img{
        width: 100vw;
        height: 40vh;
    }

    .main-footer{
        height: 10vh;
        padding: 0px;
    }

    .main-footer-p{
        font-size: 3vw;
    }

    .main-footer-h1{
        font-size: 6vw;
    }

    footer{
        width: 100vw;
        height: 100vh;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer-h1{
        /* background-color: green; */
        align-items: center;
        font-size: 9vw;
        letter-spacing: 0px;
    }

    .footer-scroll{
        width: 100vw;
        height: 35vh;
    }

    .footer-scroller-1,.footer-scroller-2,.footer-scroller-3,.footer-scroller-4,.footer-scroller-5{
        width: 55vw;
        height: 30vh;
        margin: 5px;
    }

    .footer-img{
        margin-top: 6vw;
        margin-left: 2vw;
    }
    
    .footer-h5{
        /* background-color: red; */
        font-size: 4vw;
        margin-left: 2vw;
    }
    
    .footer-h6{
        margin-top: 7vw;
        margin-left: 1vw;
        color: rgba(255, 255, 255, 0.375);
    }
    
    .footer-img2{
        width: 12vw;
        left: 30vw;
    }

    .footer-content{
        width: 100vw;
        height: 45vh;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer-content-h4{
        font-size: 6vw;
    }

    .footer-content-center{
        width: 100vw;
        height: 25vh;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid white;
    }
    
    .footer-content-center-1{
        width: 35vw;
        height: 23vh;
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-content-center-1p{
        color: rgba(255, 255, 255, 0.466);
        font-size: 4vw;
    }
    

    .footer-content-center-2{
        width: 25vw;
        height: 20vh;
    
    }
    
    .footer-content-center-3{
        width: 33vw;
        height: 15vh; 
    }

    .footer-content-center-2h4,.footer-content-center-3h4   {
        color: rgba(255, 255, 255, 0.866);
        font-size: 3.5vw;

    }
    
    .footer-content-center-3p,.footer-content-center-2p{
        font-size: 3.3vw;
    }

    .end-p{
        width: 90vw;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: end;
        color: rgba(255, 255, 255, 0.368);
    }

    .circle1{
        width: 100px;
        height: 100px;
        background-color: orange;
        border-radius: 50%;
        position: absolute;
        box-shadow: 10px 10px 10px 10px orange,-20px -20px 10px 60px orange ;
        filter: blur(180px);
        right: 5%;
        top: 20%;
    }
    
    .circle2{
        width: 100px;
        height: 100px;
        background-color: rgb(226,43,223);
        border-radius: 50%;
        transform: rotate(-40deg);
        /* border: 2px solid blue; */
        box-shadow: 20px 20px 50px 50px rgb(226, 43, 223),-10px -10px 50px 50px rgb(226, 43, 223);
        filter: blur(180px);
        position: absolute;
        top: 50%;
        left: -5%;
        
    }
}